.flex-center {
    @apply flex items-center justify-center;
}

.shadow-flipped {
    box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 3px 0px, rgba(0, 0, 0, 0.06) 0px -1px 2px 0px;
}

.shadow-md-flipped {
    box-shadow: rgba(0, 0, 0, 0.1) 0px -4px 6px -1px, rgba(0, 0, 0, 0.06) 0px -2px 4px -1px;
}

.shadow-lg-flipped {
    box-shadow: rgba(0, 0, 0, 0.1) 0px -10px 15px -3px, rgba(0, 0, 0, 0.05) 0px -4px 6px -2px;
}

.on-hover {
    @apply transition duration-300;
}