#layout-default {
    @apply grid h-screen;
    grid-template-areas:
        "header header"
        "sidebar main";
    grid-template-columns: 0 minmax(0, 1fr);
    grid-template-rows: 77px auto;

    @media only screen and (min-width: 768px) {
        grid-template-rows: 105px auto;
    }

    header.header {
        grid-area: header;
        @apply fixed flex justify-center items-center z-fixed w-full bg-primary shadow-lg;
    }

    aside {
        grid-area: sidebar;
        @apply fixed z-fixed bottom-0 bg-white shadow-xl bg-fixed bg-no-repeat bg-contain w-full -left-full;
        top: 0px;
        transition: left 0.6s ease;
    }

    main {
        grid-area: main;
    }

    &.sidebar-expanded aside {
        left: 0;
    }
}

.py--default {
    @apply py-6 md:py-7 xl:py-7
}

.px--default {
    @apply px-6 md:px-16 xl:px-20
}

.p--default {
    @apply py-6 md:py-7 xl:py-7;
    @apply px-6 md:px-16 xl:px-20;
}

.pb--default {
    @apply pb-6 md:pb-7 xl:pb-7
}

.mt--default-0 {
    @apply -mt-6 md:-mt-7;
}

.mx--default {
    @apply mx-6 md:mx-16 xl:mx-20
}

.remove-p--default {
    @apply -mb-6 md:mb-7 xl:mb-7 -mx-6 md:-mx-16 xl:-mx-20;
}